player-connection-mode=Listen
player-connection-guid=1169447174
player-connection-debug=0
player-connection-project-name=Feywood
player-connection-ip=10.0.0.49
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a9de3d1936fd4601871b5da10b04af7d
